body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.app {
  max-width: 40%;
  margin: 1.6rem auto;
  border-radius: 9px;
  overflow: clip;
  box-shadow: 0 4px 16px 8px #00000044;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.user-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  gap: 1.2rem;
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2.4rem;
  background-image: linear-gradient(
    318deg,
    hsl(315deg 88% 57%) 0%,
    hsl(308deg 88% 59%) 5%,
    hsl(301deg 88% 61%) 10%,
    hsl(295deg 87% 63%) 15%,
    hsl(288deg 88% 65%) 20%,
    hsl(281deg 87% 67%) 24%,
    hsl(274deg 87% 69%) 29%,
    hsl(267deg 88% 71%) 33%,
    hsl(261deg 87% 73%) 37%,
    hsl(254deg 87% 75%) 40%,
    hsl(251deg 87% 72%) 44%,
    hsl(251deg 87% 64%) 47%,
    hsl(251deg 87% 56%) 50%,
    hsl(251deg 87% 48%) 52%,
    hsl(251deg 87% 40%) 54%,
    hsl(251deg 87% 32%) 56%,
    hsl(251deg 87% 24%) 57%,
    hsl(251deg 88% 16%) 58%,
    hsl(250deg 85% 8%) 57%,
    hsl(0deg 0% 0%) 56%
  );
  padding-left: 4.8rem;
}

input {
  border: none;
  background-color: transparent;
  color: #fff;
  padding-block: 1.2rem;
  padding-left: 1rem;
  outline: 3px solid #fff;
  border-radius: 3px;
  font-weight: 700;
  /* width: 50%; */
  font-size: 1.4rem;
  background-color: inherit;
}

thead {
  color: #b66df5;
  font-size: 1.6rem;
  font-weight: 800;
}
td {
  padding-block: 1rem;
}
table {
  background-color: #222;
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.2rem 2.4rem;
}
