@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fafafa;
}

h1 {
  letter-spacing: -2px;
  font-weight: 500;
  color: #222;
}

#filter-country {
  border: none;
  background-color: white;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  outline: none;
  box-shadow: 0px 1px 8px 2px #99999964;
  border-radius: 5px;
  /* width: 30%; */
  /* height: 3.2rem; */
  position: absolute;
  top: 20%;
  right: 3%;
  transition: all 0.2s ease-in;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 3.2rem;
  box-shadow: 0 2px 8px 8px #0000001b;
  background-color: #fff;
}

.search-bar {
  outline: none;
  border: none;
  box-shadow: 0 1px 4px 4px #0000002d;
  width: 30%;
  padding: 0.8rem 1.6rem;
  font-size: 2.4rem;
  border-radius: 6px;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 12.4rem;
}

.country-list {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  row-gap: 3.2rem;
  column-gap: 4.8rem;
}

.country-card {
  width: 26rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 1px 8px 2px #99999964;
  font-size: 1rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.country-leaf-details {
  padding: 2.4rem 1.4rem;
  font-size: 1.6rem;
}

.country-leaf-details strong {
  font-weight: 600;
  color: #444;
}
.country-leaf-details .name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.country-card img {
  box-shadow: 0 1px 4px 4px rgba(0, 0, 0, 0.2);
  height: 18rem;
}

.loading {
  font-size: 4.8rem;
  text-align: center;
}

.country-details-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
}

.country-details-section img {
  width: 70%;
  height: auto;
}

.country-details {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60%;
justify-self: start;
  position: relative;
}

.country-details h2 {
  font-size: 4rem;
  color: #333;
  grid-column: 1 / span 2;
}

.country-details p {
  font-size: 1.6rem;
}

.country-details strong {
  font-weight: 500;
}

.back-btn{
  border: none;
  outline: none;
  padding: 0.6rem 2.4rem;
  font-size: 3.2rem;
  background-color: transparent;
  position: absolute;
  top: 5.6rem;
  left: 6.4rem;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
