* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  transition: all 0.8s;
}
.container {
  padding: 2.4rem 4.8rem;
  margin: 8rem auto;
  max-width: 40rem;
  background-color: #eee;
  border-radius: 9px;
  transform: scale(1.2);
}

.numbers {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.number {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #ccc;
}

.number.active {
  background-color: #6f46f1;
  color: #fff;
}

.step-desc {
  font-size: 2.4rem;
  margin-block: 3.2rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.6rem;
  border-radius: 100vw;
  font-size: 1.4rem;
  font-weight: 700;
  gap: 5px;
  cursor: pointer;
}
.emoji {
  font-size: 1.2rem;
}

.close-btn {
  position: absolute;
  right: 10%;
  top: 2%;
  border: none;
  background-color: transparent;
  font-size: 4.8rem;
  font-weight: 700;
  cursor: pointer;
  color: #777;
}

.close-btn:hover {
  color: #222;
}
